.header {
    background-color: #222222;
    padding: 18px 0px 19px 0px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-left:not(:last-child) {
        margin-right: 41px;
    }

    &__item-right:not(:last-child) {
        margin-right: 33px;
    }

    &__item-right--basket {
        position: relative;
    }

    &__basket-count {
        width: 19px;
        height: 19px;
        background-color: #F16D7F;
        position: absolute;
        top: -20px;
        right: -10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 12px;
    }
}