@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './variables';
@import './block/header';
@import './pages/main';
@import './block/footer';
@import './pages/catalog';
@import './pages/registration';
@import './pages/shopping-cart';
@import './pages/product';
@import './block/menu';


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.main-content{
    width: 100vw;
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1139px) {
    .container {
        max-width: 736px;
    }

    .header__box {
        padding: 0 15px;
    }

    .intro {
        max-height: 367px;

        &__box {
            background-position: left bottom;
            background-size: 367px;
        }

        &__heading {
            margin-right: 15px;
        }

        &__sup-heading {
            font-size: 44px;
            line-height: 53px;
        }

        &__sub-heading {
            font-size: 24px;
            line-height: 28px;
        }
    }

    .offer {
        &__box {
            padding: 20px 0px 155px 0px;
        }

        &__card {
            height: 167px;
            flex: 0 0 232px;

            &--accesories {
                flex: 0 0 100%;
                max-height: 116px;
                margin-top: 20px;
            }
        }
    }

    .products {
        &__heading-box {
            padding-bottom: 93px;
        }

        &-cards {
            gap: 15px;
        }

        &-button {
            padding: 32px 0 64px 0;

        }
    }

    .advantages {
        padding: 48px 0px;

        &__box {
            flex-direction: column;
            align-items: center;
        }

        &__item:not(:last-child) {
            margin-bottom: 48px;
        }
    }

    .footer {
        background-position-x: -380px;

        &-cover {
            padding: 64px 0px 140px 0px;
        }

        &-top {
            flex-direction: column;

            &__section:not(:first-child) {
                margin-top: 48px;
            }

            &__section--right {
                flex-basis: 0;
            }
        }

        &-bottom__box {
            padding: 24px 15px;
        }

    }

}

@media screen and (max-width: 767px) {
    .container {
        max-width: 360px;
    }

    .header {
        &__item-right {
            &--menu {
                margin-right: 0 !important;
            }

            &:not(:first-child) {
                display: none;
            }
        }
    }

    .intro {
        max-height: 363px;

        &__box {
            background-image: none;
            justify-content: center;
        }

        &__heading {
            margin: 0;
        }

        .intro__sup-heading {
            font-size: 38px;
            line-height: 45px;
        }

        .intro__sub-heading {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .offer {
        &__box {
            justify-content: center;
            padding: 64px 0px 64px 0px;
        }

        &__card {
            height: 247px;
            flex-basis: 343px;

            &:not(:first-child) {
                margin-top: 32px;
            }

            &--accesories {
                max-height: 111px;
            }
        }
    }

    .products {
        &__heading-box {
            padding-bottom: 64px;
        }

        &__sub-heading {
            padding-top: 3px;
        }

        &-button {
            padding: 40px 0px 96px 0px;
        }
    }

    .advantages {
        margin: 0;
        padding: 48px 15px 81px 15px;
        ;
    }

    .footer {
        &-cover {
            padding: 64px 0px 109px 0px;
        }

        &-bottom__box {
            flex-direction: column-reverse;
            padding: 43px 0px 9px 0px;
        }

        &-bottom__section--social-networks {
            padding-bottom: 40px;
        }
    }
}