@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './header';
@import './main-page';
@import './footer';
@import './catalog-page';
@import './registration-page';
@import './shopping-cart-page';
@import './product-page';


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}