@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


//home-page
.header {
    background-color: #222222;
    padding: 18px 0px 19px 0px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-left:not(:last-child) {
        margin-right: 41px;
    }

    &__item-right:not(:last-child) {
        margin-right: 33px;
    }

    &__item-right--basket {
        position: relative;
    }

    &__basket-count {
        width: 19px;
        height: 19px;
        background-color: #F16D7F;
        position: absolute;
        top: -20px;
        right: -10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 12px;
    }
}

.intro {
    height: 764px;
    background-color: #F1E4E6;

    &__box {
        background-image: url(../../img/main_photo.png);
        background-repeat: no-repeat;
        background-position: -228px bottom;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__heading {
        padding-left: 16px;
        border-left: 12px solid #F16D7F;
        margin-right: 100px;
    }

    &__sup-heading {
        font-size: 48px;
        line-height: 58px;
        font-weight: 900;
        display: block;
    }

    &__sub-headinng {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
    }

    &__color-heading {
        color: #F16D7F;
    }
}

.offer {

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 65px 0px 96px 0px;
    }

    &__card {
        height: 260px;
        flex: 0 0 360px;
        background-size: cover;
        background-position: center;

        &--women {
            background-image: url(../../img/for_women_img.jpg);
        }

        &--men {
            background-image: url(../../img/for_men_img.jpg);
        }

        &--kids {
            background-image: url(../../img/for_kids_img.jpg);
        }

        &--accesories {
            flex-basis: 100%;
            margin-top: 30px;
            height: 180px;
            background-image: url(../../img/accesories_img.png);
        }
    }

    &__cover {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(33, 22, 22, 0.7);
    }

    &__sup-heading {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }

    &__sub-heading {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: #F16D7F;
    }

}

.products {
    &__heading-box {
        padding-bottom: 48px;
        text-align: center;
    }

    &__heading {
        font-size: 30px;
        color: #222222;
        font-weight: 400;
        line-height: 36px;
    }

    &__sub-heading {
        font-size: 14px;
        color: #9F9F9F;
        padding-top: 6px;
        line-height: 17px;
    }

    &-cards {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
        gap: 30px;

        &__item {
            display: flex;
            flex-direction: column;
            flex-basis: 360px;
            background-color: #F8F8F8;
            text-align: start;
        }

        &__description {
            padding: 25px 18px 20px 18px;
        }

        &__heading {
            font-size: 13px;
            color: #000;
            font-weight: 400;
            line-height: 16px;
        }

        &__sub-heading {
            font-weight: 300;
            font-size: 14px;
            color: #5D5D5D;
            padding: 12px 0px 18px 0px;
            line-height: 17px;
        }

        &__price {
            color: #F16D7F;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &-button {
        display: flex;
        justify-content: center;
        padding-top: 48px;

        &__item {
            font-size: 16px;
            font-weight: 400;
            padding: 15px 39px;
            border: 1px solid #F16D7F;
            color: #F16D7F;

            &:hover {
                background-color: #F16D7F;
                color: #ffffff;
            }
        }
    }
}

.advantages {
    padding: 104px 0px;
    background-color: #222224;
    margin-top: 95px;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        justify-content: space-between;
        text-align: center;
        height: 133px;
    }

    &__heading {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__description {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}

.footer {
    background-image: url(../img/footer_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-cover {
        background: rgba(244, 244, 244, 0.7);
        height: 100%;
        padding: 86px 0px 126px 0px;
    }

    &-top {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &--left {
                max-width: 360px;
            }

            &--right {
                flex-basis: 557px;
            }
        }

        &__text {
            padding-top: 30px;
            font-size: 20px;
            line-height: 24px;
            color: #222224;
        }

        &__heading {
            font-size: 24px;
            line-height: 40px;
            font-weight: 700;
            color: #222224;
            padding-bottom: 32px;
        }

        &__sub-heading {
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            display: block;
        }

        &__form-box {
            display: flex;
            border: none;
        }

        &__email {
            height: 49px;
            width: 256px;
            border: none;
            background: #E1E1E1;
            font-size: 14px;
            padding: 7px 64px 6px 22px;
            line-height: 17px;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            outline: none;
        }

        &__submit {
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            background: #F16D7F;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            border: none;

            &:hover {
                background-color: #E05C6E;
            }
        }

    }

    &-bottom {
        background: #222224;

        &-copy {
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;
        }

        &__box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0px;
        }

        &__section {
            display: flex;

            &--social-networks {
                display: flex;
            }
        }

        &__item:hover {
            .footer-bottom__item-bg {
                fill: #F16D7F;
            }

            .footer-bottom__item-color {
                fill: #FFFFFF;
            }
        }


        &__item:not(:last-child) {
            margin-right: 7px;
        }
    }
}

//catalog
.breadcramp {
    background-color: #F8F3F4;
    ;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 59px 0px 60px 0px;
    }

    &__heading {
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        color: #F16D7F;
    }

    &__list {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;

        &-color {
            font-weight: 700;
            color: #F16D7F;
        }
    }
}

.filter {
    &__left {
        position: relative;
    }

    &__box {
        padding: 38px 0px 64px 0px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        gap: 30px;
    }

    &__header {
        position: absolute;
        top: 0;
        padding-top: 13px;
        &[open]{
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }
        &[open] .filter__heading{
            color: #EF5B70;
        }
        &[open] .filter__active{
            fill: #EF5B70;
        }
    }

    &__details-head {
        list-style-type: none;
        cursor: pointer;
        display: inline-block;
        padding: 0px 17px 0px 17px;

        &::-webkit-details-marker {
            display: none;
        }
    }

    &__heading {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 0px 11px 0px 0px;
    }

    &__item:not(:first-child) {
        padding-top: 18px;
    }

    &__details-heading {
        list-style-type: none;
        min-height: 37px;
        display: flex;
        align-items: center;
        padding-left: 11px;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        color: #6F6E6E;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }
    }

    &__content-box {
        width: 360px;
        background-color: #FFFFFF;
        padding: 16px 17px;
    }

    &__details-content {
        padding: 24px 0px 0px 17px;
    }

    &__details-list-item {
        list-style-type: none;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding-bottom: 11px;
        cursor: pointer;

        &:last-child {
            padding-bottom: 0px;
        }
    }


    &__right {
        display: flex;
        padding-top: 13px;
    }

    &__item{
        &[open] .filter__details-heading{
                color: #EF5B70;
            }
    }

    &__list {
        list-style-type: none;
        display: flex;

        &-item {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 28px;
            }

            &-heading {
                padding-right: 10px;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
                font-weight: 400;
            }
        }
    }
}

.pagination {
    &__section {
        display: flex;
        justify-content: center;
        padding-top: 48px;
    }

    &__box {
        list-style-type: none;
        display: flex;
        border: 1px solid #EBEBEB;
        align-items: center;
        padding: 12px 16px;
        border-radius: 4px;
    }

    &__item {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #EBEBEB;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 18px;
        }

        &:nth-child(2) {
            color: #F16D7F;
        }
    }
}