.breadcramp {
    background-color: #F8F3F4;
    ;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 59px 0px 60px 0px;
    }

    &__heading {
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        color: #F16D7F;
    }

    &__list {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;

        &-color {
            font-weight: 700;
            color: #F16D7F;
        }
    }
}

.filter {
    &__box {
        padding: 51px 0px 64px 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__section {
        display: flex;
        align-items: center;

        &:first-child {
            cursor: pointer;
        }
    }

    &__heading {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 0px 11px 0px 17px;
    }

    &__list {
        list-style-type: none;
        display: flex;

        &-item {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 28px;
            }

            &-heading {
                padding-right: 10px;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
                font-weight: 400;
            }
        }
    }
}

.products {

    &-cards {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
        gap: 30px;

        &__item {
            display: flex;
            flex-direction: column;
            flex-basis: 360px;
            background-color: #F8F8F8;
            text-align: start;
        }

        &__description {
            padding: 25px 18px 20px 18px;
        }

        &__heading {
            font-size: 13px;
            color: #000;
            font-weight: 400;
            line-height: 16px;
        }

        &__sub-heading {
            font-weight: 300;
            font-size: 14px;
            color: #5D5D5D;
            padding: 12px 0px 18px 0px;
            line-height: 17px;
        }

        &__price {
            color: #F16D7F;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.pagination {
    &__section {
        display: flex;
        justify-content: center;
        padding-top: 48px;
    }

    &__box {
        list-style-type: none;
        display: flex;
        border: 1px solid #EBEBEB;
        align-items: center;
        padding: 12px 16px;
        border-radius: 4px;
    }

    &__item {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #EBEBEB;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 18px;
        }
        &:nth-child(2){
            color: #F16D7F;
        }
    }
}