.intro {
    height: 764px;
    background-color: #F1E4E6;

    &__box {
        background-image: url(../../img/main_photo.png);
        background-repeat: no-repeat;
        background-position: -228px bottom;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__heading {
        padding-left: 16px;
        border-left: 12px solid $main-color;
        margin-right: 100px;
    }

    &__sup-heading {
        font-size: 48px;
        line-height: 58px;
        font-weight: 900;
        display: block;
    }

    &__sub-heading {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
    }

    &__color-heading {
        color: $main-color;
    }
}

.offer {

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 65px 0px 96px 0px;
    }

    &__card {
        height: 260px;
        flex: 0 0 360px;
        background-size: cover;
        background-position: center;

        &--women {
            background-image: url(../../img/for_women_img.jpg);
        }

        &--men {
            background-image: url(../../img/for_men_img.jpg);
        }

        &--kids {
            background-image: url(../../img/for_kids_img.jpg);
        }

        &--accesories {
            flex-basis: 100%;
            margin-top: 30px;
            height: 180px;
            background-image: url(../../img/accesories_img.png);
        }
    }

    &__cover {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(33, 22, 22, 0.7);
    }

    &__sup-heading {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
    }

    &__sub-heading {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: $main-color;
    }

}

.products {
    &__heading-box {
        padding-bottom: 48px;
        text-align: center;
    }

    &__heading {
        font-size: 30px;
        color: #222222;
        font-weight: 400;
        line-height: 36px;
    }

    &__sub-heading {
        font-size: 14px;
        color: #9F9F9F;
        padding-top: 6px;
        line-height: 17px;
    }

    &-cards {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
        gap: 30px;

        &__item {
            display: flex;
            flex-direction: column;
            flex-basis: 360px;
            background-color: #F8F8F8;
            text-align: start;

            &:hover .products-cards__add-cart {
                opacity: 1;
            }
            
        }

        &__img-box {
            display: flex;
            position: relative;  
        }

        &__add-cart {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(58, 56, 56, 0.86);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
        }

        &__hidden-button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            background-color: transparent;
            border: 1px solid #FFFFFF;
            width: 139px;
            height: 44px;
            cursor: pointer;

            &:hover {
                color: $main-color;
                border-color: $main-color;
            }

            &:hover .products-cards__cart-icon {
                fill: $main-color;
            }
        }

        &__text-button {
            padding-left: 11px;
        }

        &__description {
            padding: 25px 18px 20px 18px;
        }

        &__heading {
            font-size: 13px;
            color: #000;
            font-weight: 400;
            line-height: 16px;
        }

        &__sub-heading {
            font-weight: 300;
            font-size: 14px;
            color: #5D5D5D;
            padding: 12px 0px 18px 0px;
            line-height: 17px;
        }

        &__price {
            color: $main-color;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &-button {
        display: flex;
        justify-content: center;
        padding: 48px 0 95px 0;

        &__item {
            font-size: 16px;
            font-weight: 400;
            padding: 15px 39px;
            border: 1px solid $main-color;
            color: $main-color;

            &:hover {
                background-color: $main-color;
                color: #ffffff;
            }
        }
    }
}

.advantages {
    padding: 104px 0px;
    background-color: #222224;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        justify-content: space-between;
        text-align: center;
        height: 133px;
    }

    &__heading {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__description {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}